[Unit]
Description=Captive Portal Server
After=network-online.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/eel-capo/webserver/server.py
WorkingDirectory=/home/pi/eel-capo/webserver
Restart=always

[Install]
WantedBy=multi-user.target